header {
    height: 80px;
    background-color: rgb(95, 75, 61);
    font-family: Verdana;
    color: white
}

#title {
    text-align: center;
    float: left;
    width: 100%;
}


/*body style*/

body {
    font-family: Verdana;
    background-color: rgb(219 206 197);
    font-size: 16px;
    line-height: 140%;
    color: rgb(88, 76, 76);
}

article {
    margin: 80px auto 0 auto;
    width: 1200px;
}


/*present for each section*/

section {
    padding: 10px 10px 10px 10px;
    background-color: white;
    max-width: 1300px;
    min-width: 500px;
    margin: auto auto 30px 90px;
    height: 100%;
}

h2 {
    font-size: 20px;
    height: 40px;
    color: rgb(15, 15, 15);
    display: inline-block;
    padding-right: 60px;
}


/* move to the left*/

footer {
    clear: both;
    height: 18px;
    border-style: none;
    color: white;
    text-align: center;
    font-style: italic;
}


/* amination for web title*/

#web_title {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 60px;
    letter-spacing: 35px;
    animation: change_color 3s infinite;
    display: block;
    margin-block-start: 0;
    padding-top: 20px;
}

@keyframes change_color {
    from {
        color: rgb(244, 247, 239);
    }
    to {
        color: rgb(170, 117, 81);
    }
}


/*image*/

#image1 {
    width: 33.33333%;
    float: left;
    display: block;
}

#image2 {
    width: 33.33333%;
    height: 194.67px;
    float: left;
    display: block;
}

#image3 {
    width: 33.33333%;
    height: 194.67px;
    float: left;
    display: block;
}


/*heading style*/

.top_heading {
    float: left;
    display: inline-block;
}


/*hightlight navigation of current page*/

.top_heading:hover {
    color: #cc7712;
}

.top_heading .current {
    color: #cc7712;
}